.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:  rgb(049,055,060);
    }
    


.tab-label {
    -fx-text-base-color: rgb(255,255,255);
    -fx-font-size: 14pt;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: rgb(049,055,060);
    -fx-border-color: transparent;

}

.combo-box .list-cell{
	-fx-text-fill: rgb(255,255,255);
	
}


.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}



.table-view .placeholder .label {
     -fx-text-fill: white;
 }
 
 .table-view {
     -fx-font-size: 12pt;
 }


 .list-view {
     -fx-font-size: 14pt;
 }
 
 
.slider .axis { 
	-fx-tick-label-fill: white;
	-fx-tick-label-font-size: 16pt;
 }


/* Code adapted by Jack Chamberlain
 * Original Author: 黄东辉
 * Source: https://stackoverflow.com/questions/28939776/change-checkbox-size-in-javafx8
 */
.check-box > .box {
	-fx-background-color: rgb(049,055,060);
    -fx-padding: 12px;
    -fx-border-size: 2px;
    -fx-border-color: white;
}

.check-box:selected .mark {
    -fx-padding: 7.5px;
    -fx-background-color: black;
}
/* Code adapted ends */


.check-box:selected .box {
    -fx-padding: 12px;
    -fx-background-color: white;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-font-size: 12pt;
}


